@model Fichas.ViewModel.MessageAcampante;
@{
    ViewData["Title"] = "Mensagem";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<div>
    <div class="row">
        <div class="col-md-6">
            <label class="col-form-label-lg">Insira o <b>codigo do Acampante</b> que deseja enviar uma mensagem</label>
            @Html.TextBoxFor(e => e.CodAcampante, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            <label class="col-form-label-lg">Para confirmação, informe a <b>data de nascimento</b> do acampante que deseja enviar uma mensagem</label>
            @Html.TextBoxFor(e => e.DatNascto, new { @class = "form-control" })
        </div>
    </div>
    <div id="ButtonConfirm" class="form-group center" style="margin-top:15px;">
        <input type="button" value="Buscar" class="btn btn-primary" onclick="BuscaAcamp();" />
    </div>
</div>
<div class="form" id="mensagem" style="display:none">
    <form action="EnviaMsgParaAcampante" method="post">
        <div>
            <h4 id="nomeAcampante"></h4>
            <label class="col-form-label-lg">Digite a <b>mensagem</b> que deseja enviar</label>
            @Html.TextAreaFor(e => e.Msg, new { @class = "form-control" })
        </div>
        <div style="display:none">
            @Html.TextBoxFor(e => e.To, new { @class = "form-control" })
        </div>
        <div>
            <input type="submit" value="Enviar" class="btn btn-primary" />
        </div>
    </form>
</div>







@section Scripts {
    <script>
        function BuscaAcamp() {
            let Cod = $("#CodAcampante").val();
            let Dat = $("#DatNascto").val();

            $.ajax({
                url: "BuscaAcamp",
                type: "post",
                data: { Cod, Dat },
                success: function (data) {
                    $("#mensagem").css("display", "block");
                    $("#nomeAcampante").html(data.nome);
                    $("#To").val(data.id);

                },
                dataType: "json",
            });
        }
    </script>

}