@using Fichas.ViewModel
@model List<AcampanteResponsavel>
@*@ViewBag.MyList;*@

@{
    ViewData["Title"] = "BackOffice";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">BACK OFFICE</h1>
        <hr />
    </div>
    <div class="container">
        <!--<form asp-action="Backoffice">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Nome acampante</label>-->
        @*@Html.EditorFor(e => e.Acampante.Nome, new { htmlAttributes = new { @class = "form-control" } })*@
        <!--</div>
        <div class="form-group col-md-6">
            <label class="col-form-label-lg">Nome Responsavel</label>-->
        @*@Html.EditorFor(e => e.Responsavel.Nome, new { htmlAttributes = new { @class = "form-control" } })*@
        <!--</div>
            </div>
            <div class="form-group">
                <input type="submit" value="Checar Ficha" class="btn btn-primary" />
            </div>
        </form>-->
        <div id="grid">
            <div class="text-center">
                <h4>Total - @Model.Count()</h4>
            </div>
            <div>
                <b><a asp-action="AttDados">Atualização dos Dados</a></b>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Responsavel</th>
                        <th scope="col">Acampante</th>
                        <th scope="col">Ficha</th>
                        <th scope="col">Msg Enviada?</th>
                        <th scope="col">Preenchida?</th>
                        <th scope="col">WhatsApp</th>
                        <th scope="col" style="display:none">ID</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {var telefone = "+55" + x.Telefone;

                        <tr>
                            <td><b>@x.NomResponsavel</b></td>
                            <td><b>@x.NomAcampante</b></td>
                            <td><b><a asp-action="Ficha" asp-route-CodResponsavel="@x.CodResponsavel" asp-route-CodAcampante="@x.CodAcampante" target="_blank">FICHA</a></b></td>
                            <td>@if (x.ExisteAcampante) { <input type="checkbox" checked="@x.FlgWhatsApp" onclick="SaveWhats(event);" /> }</td>
                            <td>
                                @if (x.FichaRespondida)
                                {<b style="color:green">SIM</b> }
                                else
                                { <b style="color:red">NÃO</b>}
                            <td><a href="https://api.whatsapp.com/send?phone=@telefone&text=Por%20favor%20Clique%20no%20link%20abaixo%20e%20preencha%20a%20FICHA%20DE%20SA%C3%9ADE%20de%20seu%20acampante%3B%20a%20mesma%20aparece%20como%20PENDENTE%20em%20nosso%20sistema.%20Qualquer%20d%C3%BAvida%20entrar%20em%20contato%20atrav%C3%A9s%20dos%20WhatsApps%3A%20(11)%2097128-7488%20ou%20(11)%2099265-8314.%20Att%2C%20Equipe%20NR%3A%20https%3A%2F%2Ffichas.nrops.com.br%2F%3FCodResponsavel=@x.CodResponsavel%26CodAcampante=@x.CodAcampante" target="_blank">WhatsApp</a></td>
                            <td style="display:none">@x.CodAcampante</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        function SaveWhats(event) {
            let x = $(event.target).parents();
            let id = x[1].children[6].innerHTML;
            let box = $(event.target);
            let flg = box.is(":checked");

            $.ajax({
                url: "UpdFlgWhats",
                type: "post",
                data: {id,flg},
                success: function (data) {
                    console.log(ok);
                },
                dataType: "Text",
            });
        }
    </script>
}