@using Fichas.ViewModel
@model List<AcampanteResponsavel>
@*@ViewBag.MyList;*@

@{
    ViewData["Title"] = "BackOffice";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">BACK OFFICE</h1>
        <hr />
    </div>
    <div class="container">
        <!--<form asp-action="Backoffice">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Nome acampante</label>-->
                    @*@Html.EditorFor(e => e.Acampante.Nome, new { htmlAttributes = new { @class = "form-control" } })*@
                <!--</div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Nome Responsavel</label>-->
                    @*@Html.EditorFor(e => e.Responsavel.Nome, new { htmlAttributes = new { @class = "form-control" } })*@
                <!--</div>
            </div>
            <div class="form-group">
                <input type="submit" value="Checar Ficha" class="btn btn-primary" />
            </div>
        </form>-->
        <div id="grid">
            <div class="text-center">
                <h4>Total - @Model.Count()</h4>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Responsavel</th>
                        <th scope="col">Acampante</th>
                        <th scope="col">Ficha</th>
                        <th scope="col">Preenchida?</th>
                        <th scope="col">WhatsApp</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {

                    <tr>
                        <td><b>@x.NomResponsavel</b></td>
                        <td><b>@x.NomAcampante</b></td>
                        <td><b><a asp-action="Ficha" asp-route-CodResponsavel="@x.CodResponsavel" asp-route-CodAcampante="@x.CodAcampante">FICHA</a></b></td>
                        <td>@if (x.FichaRespondida) { <b>SIM</b> } else { <b>NÃO</b> }</td>
                        <td><a href="https://api.whatsapp.com/send?phone=@x.Telefone&text=Sua%20ficha%20de%20saude%20ainda%20esta%20pendente%20porfavor%20preencher%20a%20ficha%20atraves%20do%20link%3A%20https%3A%2F%2Ffichas.nrops.com.br%2F%3FCodResponsavel=@x.CodResponsavel%26CodAcampante=@x.CodAcampante" target="_blank">WhatsApp</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
