@model Ficha;
@{
    ViewData["Title"] = "Ficha";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">FICHA DE SAÚDE</h1>
        <hr />
        <h3>Olá @ViewBag.resp.Nome  - Ficha de @ViewBag.acamp.Nome</h3>
        <div><p>@ViewBag.Dat</p></div>
    </div>
    <div class="container">
        <form asp-action="Ficha">
            <div class="text-center">
                <h5 style="color:green">@ViewBag.ok</h5>
                <h5 style="color:red">@ViewBag.error</h5>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Peso do acampante(kg)</label>
                    @Html.EditorFor(e => e.Peso, new { htmlAttributes = new { @class = "form-control", @placeholder = "(kg)" } })
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Altura do acampante</label>
                    @Html.EditorFor(e => e.Altura, new { htmlAttributes = new { @class = "form-control", @placeholder = "(m)" } })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Tipo Sanguíneo</label>
                    @Html.TextAreaFor(e => e.Tip_Sanguineo, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Convênio Médico e número da carteirinha</label>
                    @Html.TextAreaFor(e => e.Convenio, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Nome do Pediatra - Telefone de contato</label>
                    @Html.TextAreaFor(e => e.Nome_Pediatra_Contato, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Em caso de ocorrência médica ligar para <br>(Nome - Telefone - Parentesco)</label>
                    @Html.TextAreaFor(e => e.OcorrenciaMedica, new { @class = "form-control" })
                </div>
            </div>
            <hr />
            <div class="text-center">
                <h3>Assinale os itens que se aplicam ao acampante.</h3>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.Nadar, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Sabe nadar com desenvoltura.</label>
                </div>
                <div class="form-group col-md-6">
                    @Html.CheckBoxFor(e => e.Boia, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Deverá usar boia.</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.Dramin, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Autorizado a receber tratamento com DRAMIN.</label>
                </div>
                <div class="form-group col-md-6">
                    @Html.CheckBoxFor(e => e.Vonal, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Autorizado a receber tratamento com VONAU.</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.Infeccao_Recente, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Nos últimos dois meses teve algum tipo de infecção.</label>
                </div>
                <div class="form-group col-md-6">
                    @Html.CheckBoxFor(e => e.Enurese_Noturna, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Apresenta perda de urina durante a noite.</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.Sonambulismo, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Tem sonambulismo.</label>
                </div>
                <div class="form-group col-md-6">
                    @Html.CheckBoxFor(e => e.Vacinas_Validas, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Tem todas as vacinas válidas.</label>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.BelicheInferior, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Faz questão do beliche inferior.</label>
                </div>
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.Aparelho_Dental, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Faz uso de aparelho ortodôntico móvel.</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.Diabetes, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Tem Diabetes Mellitus.</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Favor informar como é realizado o tratamento.</label>
                    @Html.TextAreaFor(e => e.Tratamento_Diabetes, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.CheckBoxFor(e => e.Convulsao, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Tem Convulsões.</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Favor informar como é realizado o tratamento.</label>
                    @Html.TextAreaFor(e => e.Tratamento_Convulsao, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.Asma, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Tem Asma.</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Favor informar como é realizado o tratamento.</label>
                    @Html.TextAreaFor(e => e.Tratamento_Asma, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.CheckBoxFor(e => e.Bronquite, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Tem Bronquite.</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Favor informar como é realizado o tratamento.</label>
                    @Html.TextAreaFor(e => e.Tratamento_Bronquite, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.CheckBoxFor(e => e.Acomp_Psicologico, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Faz ou fez acompanhamento médico ou psicológico.</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Motivo do acompanhamento psicológico.</label>
                    @Html.TextAreaFor(e => e.Motivo_Acomp_Psicologico, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.H1N1, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Tomou a vacina Influenza H1N1.</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Informar a data da imunização.</label>
                    @Html.TextBoxFor(e => e.Dat_H1N1, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.MenigiteC, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Tomou a vacina Meningite C.</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Informar a data da imunização.</label>
                    @Html.TextBoxFor(e => e.Dat_MenigiteC, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 align-self-center">
                    @Html.CheckBoxFor(e => e.Covid, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Teve COVID-19</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Informar a data.</label>
                    @Html.TextBoxFor(e => e.Dat_Covid, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.CheckBoxFor(e => e.RestricaoAttFisica, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Tem restrição à prática de atividade física.</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Informar qual a restrição e o motivo.</label>
                    @Html.TextAreaFor(e => e.Obs_RestricaoAttFisica, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.CheckBoxFor(e => e.Restricao_Alimentar, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Apresenta alguma restrição alimentar.</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Especifique.</label>
                    @Html.TextAreaFor(e => e.Obs_Restricao_Alimentar, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.CheckBoxFor(e => e.Medo_Fobia, new { @class = "form-check-label" })
                    <label class="col-form-label-lg">Apresenta algum tipo de medo ou fobia</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Especifique.</label>
                    @Html.TextAreaFor(e => e.Obs_Medo_Fobia, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Algum tipo de alergia ao uso de algum medicamento?</label>
                    @Html.DropDownListFor(e => e.Alergia_Medicamento, new SelectList(Enum.GetValues(typeof(Ficha.Talvez))), "Selecione", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Em caso positivo favor nos informar.</label>
                    @Html.TextAreaFor(e => e.Obs_Alergia_Medicamento, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">O acampante apresenta alguma necessidade especial?</label>
                    @Html.DropDownListFor(e => e.Necessidade_Especial, new SelectList(Enum.GetValues(typeof(Ficha.Selecione))), "Selecione", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Em caso positivo favor nos informar.</label>
                    @Html.TextAreaFor(e => e.Obs_Necessidade_Especial, new { @class = "form-control" })

                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">O acampante trata-se preferencialmente com:</label>
                    <div class="col-md-6">
                        @Html.CheckBoxFor(e => e.Alopatia, new { @class = "form-check-label" })&nbsp;ALOPATIA
                        &nbsp;
                        &nbsp;
                        @Html.CheckBoxFor(e => e.Homeopatia, new { @class = "form-check-label" })&nbsp;HOMEOPATIA
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Como costuma ser medicado em caso de dor de garganta?</label>
                    @Html.TextAreaFor(e => e.Orientacao_Garganta, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Como costuma ser medicado em caso de febre?</label>
                    @Html.TextAreaFor(e => e.Orientacao_Febre, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Como costuma ser medicado em caso de dor de barriga?</label>
                    @Html.TextAreaFor(e => e.Orientacao_Barriga, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Como costuma ser medicado em caso de dor de cabeça?</label>
                    @Html.TextAreaFor(e => e.Orientacao_Cabeca, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Como costuma ser medicado em caso de dor de ouvido?</label>
                    @Html.TextAreaFor(e => e.Orientacao_Ouvido, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Como costuma ser medicado em caso de cólicas?</label>
                    @Html.TextAreaFor(e => e.Orientacao_Colica, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Alguma observação que deseje acrescentar ?</label>
                    @Html.TextAreaFor(e => e.Obs_Geral, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Autorizo a da participação do acampante em todas as atividades oferecidas pelo NR.</label>
                    @Html.CheckBoxFor(e => e.Autorizacao_Atividades, new { @class = "form-check-label" })

                </div>
                <div class="form-group col-md-6">
                    <label class="col-form-label-lg">Em caso negativo, citar a(s) atividade(s) e o(s) motivo(s).</label>
                    @Html.TextAreaFor(e => e.Obs_Autorizacao_Atividades, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="display:none">
                <div class="form-group col-md-6">
                    <input type="text" name="acampID" id="acampID" value="@ViewBag.acamp.ID" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" name="respID" id="respID" value="@ViewBag.resp.ID" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Finalizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#Peso").mask("##99.99", {reverse:true});
            $("#Altura").mask("9.99");
            $('#Dat_H1N1').mask('00/00/0000');
            $('#Dat_Covid').mask('00/00/0000');
            $('#Dat_MenigiteC').mask('00/00/0000');

        });
        $("#Asma").change(function () {
            if ($("#Asma").is(':checked')) {
                $("#Tratamento_Asma").prop('readonly', false);
            } else {
                $("#Tratamento_Asma").prop('readonly', true);
            }
        })
        $("#Bronquite").change(function () {
            if ($("#Bronquite").is(':checked')) {
                $("#Tratamento_Bronquite").prop('readonly', false);
            } else {
                $("#Tratamento_Bronquite").prop('readonly', true);
            }
        })
        $("#Convulsao").change(function () {
            if ($("#Convulsao").is(':checked')) {
                $("#Tratamento_Convulsao").prop('readonly', false);
            } else {
                $("#Tratamento_Convulsao").prop('readonly', true);
            }
        })
        $("#Diabetes").change(function () {
            if ($("#Diabetes").is(':checked')) {
                $("#Tratamento_Diabetes").prop('readonly', false);
            } else {
                $("#Tratamento_Diabetes").prop('readonly', true);
            }
        })
    </script>
}


