@model List<Ficha>;

@{
    ViewData["Title"] = "Relatorio Beliche";
}
<div>
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div>
        <a asp-action="AcampantesLista" class="btn btn-info">Acampantes Geral</a>
        <a asp-action="ExportarExcel" asp-route-tiporelatorio="Beliche" class="btn btn-info">Exportar</a>
    </div>
    <br />
    <div class="container">
        <div id="grid">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col" class="text-center">Equipe</th>
                        <th scope="col" class="text-center">Pacote</th>
                        <th scope="col" class="text-center">Cod. Acampante</th>
                        <th scope="col" class="text-center">Beliche Inferior ?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td><b>@x.Acampante.Nome</b></td>
                            <td class="text-center"><b>@x.Acampante.Equipe</b></td>
                            <td class="text-center"><b>@x.Acampante.DesPacote</b></td>
                            <td class="text-center"><b>@x.Acampante.codAcampante</b></td>
                            <td class="text-center"><b>@if (x.BelicheInferior)
                            {<span style="color:green">SIM</span>}
                            else
                            {<span style="color:red">NÃO</span>}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>